
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
    --formula-red: #FF1801;
    --dark-grey: #1e1a20;
}

*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: formula;
    src: url("fonts/Formula1-Regular.otf");
}



html {
    background:#1e1a20;
    overflow-x: hidden;
    margin:0;
}


.webgl
{
    /* position: fixed; */
    top: 0;
    left: 0;
    outline: none;
}

.fade {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    outline: none;
    transition: background-color 1s ease, backdrop-filter 1s ease;
}

.blurred {
    background-color: hsla(0, 0%, 31%, 0.7);
    backdrop-filter: blur(24px);
}


.section {
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    color: #ffeded;
    padding-left: 10%;
    padding-right: 10%;
    color: var(--formula-red)
}

@media (min-width:1024px) {

    .section:nth-child(even) {
        justify-content: flex-end;
    }

}



.section div h1 {
    text-transform: uppercase;
    font-family:formula, sans-serif;
    margin-bottom:0.3rem;
    font-size: 3.5rem;
    color: var(--formula-red)
}

.section h1 {
    font-size:2em;
    font-family: 'Titillium Web', sans-serif;
    color: var(--dark-grey);
}

.section div {
    max-width:550px;
    border:3px solid white;
    border-radius:2px;
    padding:16px 24px;
    background-color: hsla(0, 15%, 96%, 0.8);
    backdrop-filter: blur(6px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.section div p {
    font-size: 1.5rem;
    font-family: 'Titillium Web', sans-serif;
    color:black;
    padding:16px;
}


/*phone optimization*/
@media (max-width:480px) {
    .section div h1 {
        font-size:1.5rem;
    }

    .section div p {
        font-size:0.8rem;
        padding:8px;
    }

    .section div {
        padding:8px 6px 8px 12px;
    }

}


.sourecode {
    color: var(--dark-grey);
    font-weight:400;
    text-shadow: 2px 2px 14px #c96624;
  }

.sourcea {
    text-decoration-color: var(--dark-grey);
    text-decoration-thickness: 0.08rem;
  }

  .sourcecode {
      color:white;
      font-size:1.5rem;
      margin-bottom:12px;
      margin-left:16px;
  }

  .modelcode {
    color: var(--dark-grey);
    font-weight:400;
    text-shadow: 2px 2px 14px #c96624;
    font-size:1.25rem;
    margin-bottom:12px;
    margin-top:12px;
}

  .contact-section {
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    padding-left: 15%;
    padding-right: 10%;
    font-family: 'Titillium Web', sans-serif;
    font-size:2rem;
  }

  .closing {
      color:white;
      font-size:1.8rem;
      font-weight:400;
  }

.mainpage {
    position:relative;
    width:100vw;
    height:100vh;
    margin:0;
}

.mainpage-image {
    position:fixed;
    margin:0;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color: white;
    background: linear-gradient(to top, #FF1801ba, #FF1801cc), url(../static/images/formula_bg.jpg) no-repeat bottom right;
    filter: blur(3px);
}

.title-box {
    position:absolute;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    width:100vw;
    height:70vh;
    
}



.title-box > h1 {
    text-transform: uppercase;
    font-family:formula, sans-serif;
    margin-bottom:0.3rem;
    font-size: 3.5rem;
    color: white;
}


/*adjustments for phone */
@media (max-width:480px) {

    .title-box > h1 {
        text-transform: uppercase;
        font-family:formula, sans-serif;
        margin-bottom:0.3rem;
        font-size: 2.0rem;
        color: white;
    }
}

.title-box > h1 > span {
    border-bottom:1px solid white;
}

.title-box > h1 > svg {
    transform: translate(-15px, 12px);
}

/*no svg ending on mobile*/
@media (max-width:480px) {
    .title-box > h1 > svg {
        display:none;
    }
}

.breaker {
    flex-basis: 100%;
    height: 0;
}

.title-box > h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size:2rem;
    color:white;
    font-weight:100;
    margin-top:20px;
}

#car-title {
    position:fixed;
    right:20%;
    top:20%;
    opacity:0;
    transition: 1s opacity ease;
}

#car-title > h2 {
    text-transform: uppercase;
    font-size:2rem;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    color: var(--dark-grey);
}

#car-title > h4 {
    font-size:1.3rem;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 100;
    color: var(--dark-grey);
}

/*mobile optimizations*/
@media (max-width:480px) {
    #car-title {
        top:20px;
        right:0;
        margin:24px;
        text-align:center;
    }

    #car-title > h2 {
        font-size:1.5rem;
    }

}

.vis {
    opacity:1 !important;
}

.loading-wrapper {
    margin-top:100px;
    width: 70%;
}

.loading-bar {
    width:50%;
    max-width:500px;
    margin:auto;
    height: 2px;
    background: #ffffff;
    transform: scaleX(0.3);
    transform-origin: left;
    transition: transform 0.5s;
}

.loading-bar.ended
{
    transform: scaleX(0);
    transform-origin: 100% 0;
    transition: transform 1.5s ease-in-out;
}

.loading-indicator {
    text-align: center;
    font-size:1.3rem;
    font-family: 'Titillium Web', sans-serif;
    font-weight:400;
    color:white;
}

.hidden-loader {
    display:none;
}

.complete-indicator {
    text-align: center;
    font-size:1.3rem;
    font-family: 'Titillium Web', sans-serif;
    font-weight:400;
    color:white;
    animation: scroll 5s ease-in-out infinite;
}

.complete {
    display:revert;
}


/* scroll box */
@keyframes scroll {
    0%,
    100% {
      transform: translateY(1rem); }
    50% {
      transform: translateY(-1rem); } }


@keyframes blink {
    0%,
    100% {
        opacity: 1;
        transform: scale(1.2); }
    50% {
        opacity: 0.2;
        transform: scale(0.7); } 
}

.arrow {
    font-size:1.3rem;
    animation: blink 5s ease-in-out infinite;
}

/* handling for the initial scren */

.stop-scrolling {
    position:fixed;
    height: 100%;
    overflow: hidden;
  }